#contact {
    padding: 180px 0 !important;
}

#contForm {
    width: 80%;
    margin: 0 auto;
}

.email,
.phone {
    display: block;
    text-align: center;
}

a .fas {
    padding-right: 5px !important;
}